# Security & Configuration
DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/your_webhook_url_here"
LOG_LEVEL="INFO"

# AWS Configuration
AWS_ACCESS_KEY_ID="your_access_key_id"
AWS_SECRET_ACCESS_KEY="your_secret_access_key"
AWS_DEFAULT_REGION="ap-southeast-1"
S3_BUCKET_NAME="apip-data-lake-2026-YOUR_NAME"
